<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="randomRange1" value="1 100" />
		<add key="randomRange2" value="1 1000" />
		<add key="randomRange3" value="1 500" />
		<add key="randomRange4" value="1 10000" />
	</appSettings>
</configuration>